.btn {
  display: inline-block;
  border: 1px solid;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 11px 10px;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease; }
  .btn_type1 {
    background: #FF7675;
    color: #fff;
    border-color: #FF7675; }
    .btn_type1:hover {
      background: #fff;
      color: #FF7675; }
  .btn_type2 {
    background: #fff;
    border-color: #6C5CE7;
    color: #6C5CE7; }
    .btn_type2:hover {
      background: #6C5CE7;
      color: #fff; }
  .btn_type3 {
    background: #6C5CE7;
    border-color: #6C5CE7;
    color: #fff; }
    .btn_type3:hover {
      background: #fff;
      color: #6C5CE7; }
  .btn_download {
    display: inline-block;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 11px;
    text-align: center; }
    .btn_download strong {
      font-weight: 600;
      font-size: 18px;
      padding-left: 18px;
      padding-top: 3px;
      line-height: 22px; }
    .btn_download span {
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
      text-transform: none;
      display: block; }
  @media (min-width: 767px) {
    .btn_download {
      width: 350px; }
      .btn_download .btn__inner {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 600; } }

svg:not(:root) {
  overflow: hidden; }

@media (min-width: 1200px) {
  .container {
    width: 1160px; } }

.form-group {
  margin-bottom: 30px; }

.post h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #1B1549; }

.post p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #1B1549; }
  .agreement-text .post p {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    color: #2D3436; }

.post a {
  color: #FF7675; }
  .post a:hover {
    text-decoration: underline; }

.post code {
  padding: 20px 18px;
  background: #F3F3F3;
  color: #1B1549;
  font-weight: 700;
  font-family: 'Courier New', sans-serif;
  display: block;
  width: 100%;
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .post h2 {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px; }
  .post p {
    font-size: 14px;
    line-height: 20px; } }

.form-control {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  background: #fff;
  font-size: 14px;
  line-height: 16px;
  padding: 17px 15px; }
  .form-control::-webkit-input-placeholder {
    color: #B2BEC3; }
  .form-control::-moz-placeholder {
    color: #B2BEC3; }
  .form-control:-ms-input-placeholder {
    color: #B2BEC3; }
  .form-control::-ms-input-placeholder {
    color: #B2BEC3; }
  .form-control::placeholder {
    color: #B2BEC3; }
  .form-control:focus::-webkit-input-placeholder {
    opacity: 0; }
  .form-control:focus::-moz-placeholder {
    opacity: 0; }
  .form-control:focus:-ms-input-placeholder {
    opacity: 0; }
  .form-control:focus::-ms-input-placeholder {
    opacity: 0; }
  .form-control:focus::placeholder {
    opacity: 0; }
  .form-control.error {
    border-color: #FF7675 !important; }
  .form-control_message {
    min-height: 323px; }

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  /* For Firefox */
  font-weight: 400;
  color: #B2BEC3; }

[contenteditable=true]:empty:focus:before {
  display: none; }

.header {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999; }
  .header__i {
    padding-top: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header__right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .btn_test {
    width: 163px;
    display: none; }
  @media (min-width: 480px) {
    .header .btn_test {
      display: block; } }

.main-nav {
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  transform: translate(0, -15px);
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s ease; }
  .mobile-nav-active .main-nav {
    display: block;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible; }
  .main-nav__list {
    font-size: 0;
    margin-left: -18px;
    margin-right: -18px;
    margin-bottom: 0;
    padding: 15px 0 0 0; }
    .main-nav__list-item {
      list-style: none;
      font-size: 14px;
      line-height: 16px;
      padding: 0 18px;
      text-align: center;
      margin-bottom: 25px; }
    .main-nav__list-lnk {
      text-transform: uppercase;
      font-weight: 500;
      font-family: "Montserrat", sans-serif;
      font-size: 14px;
      line-height: 20px;
      color: #6C5CE7;
      -webkit-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease;
      text-align: center; }
      .main-nav__list-lnk:hover {
        color: #FF7675; }
      .active .main-nav__list-lnk {
        font-weight: 700; }
  @media (min-width: 768px) {
    .main-nav {
      left: -30px;
      right: -30px; } }
  @media (min-width: 1025px) {
    .main-nav {
      left: auto;
      right: auto;
      display: block;
      position: relative;
      margin-right: 55px;
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }
      .main-nav__list {
        padding-top: 0; }
        .main-nav__list-item {
          display: inline-block;
          margin-bottom: 0; } }

.content {
  padding-top: 80px; }

.intro {
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative; }
  .intro__row {
    position: relative; }
  .intro__img {
    display: none; }
  .intro__top {
    padding-top: 94px;
    padding-bottom: 58px;
    text-align: center;
    position: relative;
    z-index: 5; }
  .intro__title-wrap {
    padding-bottom: 60px; }
  .intro__title {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #1B1549;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 23px; }
  .intro__sub-title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #B2BEC3; }
  .intro__btn-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin-left: -5px;
    margin-right: -5px; }
    .intro__btn-row .btn {
      min-width: 130px;
      margin: 0 5px 15px; }
  .intro__bottom {
    text-align: center;
    position: relative;
    z-index: 5; }
    .intro__bottom-title {
      font-size: 20px;
      line-height: 26px;
      color: #1B1549;
      font-weight: 600;
      margin-bottom: 20px; }
    .intro__bottom-sub-title {
      font-size: 13px;
      line-height: 18px;
      font-weight: 600;
      color: #B2BEC3;
      margin-bottom: 15px; }
  .intro .curve-bg-wrap {
    position: absolute;
    left: -10px;
    right: -10px;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    bottom: 0;
    z-index: 1;
    display: none; }
  @media (min-width: 768px) {
    .intro {
      min-height: 602px; }
      .intro__top {
        max-width: 500px;
        text-align: left; }
      .intro__title {
        font-size: 44px;
        line-height: 65px; }
      .intro__sub-title {
        font-size: 20px;
        line-height: 29px; }
      .intro__btn-row {
        margin-left: -15px;
        margin-right: -15px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .intro__btn-row .btn {
          min-width: 163px;
          margin: 0 15px 15px; }
      .intro__bottom-title {
        font-size: 26px;
        line-height: 38px; }
      .intro__bottom-sub-title {
        font-size: 16px;
        line-height: 24px; } }
  @media (min-width: 992px) {
    .intro__img {
      position: absolute;
      right: -79px;
      width: 60%;
      bottom: 20px;
      z-index: 3;
      display: block; }
      .intro__img img {
        max-width: 100%;
        width: 100%; }
    .intro__bottom {
      text-align: right; }
    .intro .curve-bg-wrap {
      display: block; } }
  @media (min-width: 1160px) {
    .intro__img {
      bottom: 42px; } }

.section-title-wrap {
  max-width: 750px;
  margin: 0 auto 45px;
  width: 100%; }

.section-title {
  font-size: 22px;
  line-height: 30px;
  margin: 0 0 15px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #1B1549; }
  @media (min-width: 768px) {
    .section-title {
      font-size: 36px;
      line-height: 53px;
      margin-bottom: 7px; } }

.section-sub-title {
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #B2BEC3;
  text-align: center; }
  @media (min-width: 768px) {
    .section-sub-title {
      font-size: 16px;
      line-height: 24px; } }

.about {
  padding-top: 70px;
  padding-bottom: 70px; }
  .about__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin-left: 0;
    margin-right: 0; }
  .about__item {
    width: 100%;
    padding: 0 0 35px;
    text-align: center; }
  .about .item-img {
    margin-bottom: 30px; }
    .about .item-img img {
      max-width: 100%; }
  .about .item-title {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    font-family: "Montserrat", sans-serif; }
  .about .item-description {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #B2BEC3; }
  .about .btn {
    min-width: 250px; }
  @media (min-width: 768px) {
    .about__list {
      margin-left: -20px;
      margin-right: -20px; }
    .about__item {
      width: 100%;
      padding: 0 20px 35px;
      text-align: center; }
    .about .item-title {
      font-size: 26px;
      line-height: 38px; }
    .about .item-description {
      font-size: 14px;
      line-height: 20px; } }
  @media (min-width: 993px) {
    .about__list {
      margin-left: -20px;
      margin-right: -20px; }
    .about__item {
      width: 33.33333%;
      padding: 0 20px 35px; } }
  @media (min-width: 1025px) {
    .about__list {
      margin-left: -30px;
      margin-right: -30px; }
    .about__item {
      padding: 0 50px 35px; } }

.grey-bg {
  background: #F6F6F6; }

.how-it-works {
  padding-top: 45px;
  padding-bottom: 51px; }
  .how-it-works img {
    display: block;
    max-width: 100%;
    height: auto; }
  .how-it-works .section-title-wrap {
    margin-bottom: 34px; }

.get-involved {
  padding-top: 66px;
  padding-bottom: 51px; }
  .get-involved__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    margin: 0; }
  .get-involved__item {
    padding: 0 0 30px;
    text-align: center;
    width: 100%; }
  .get-involved .item-img {
    padding-bottom: 12px;
    width: 50%;
    margin: 0 auto; }
    .get-involved .item-img img {
      display: block;
      margin: 0 auto;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      max-width: 100%; }
  .get-involved .item-title {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 29px;
    font-weight: 500;
    color: #1B1549;
    margin-bottom: 28px; }
  .get-involved .btn {
    display: block;
    font-weight: 500;
    width: 250px;
    margin: 0 auto; }
  @media (min-width: 768px) {
    .get-involved .item-img {
      width: 100%; }
    .get-involved__list {
      margin: 0 -15px; }
    .get-involved__item {
      padding: 0 15px 30px;
      width: 100%; } }
  @media (min-width: 992px) {
    .get-involved__list {
      margin: 0 -40px; }
    .get-involved__item {
      padding: 0 40px 30px;
      width: 33.333333%; }
    .get-involved .btn {
      width: 100%;
      max-width: 250px; } }
  @media (min-width: 1025px) {
    .get-involved .item-title {
      font-size: 20px; } }

.download {
  padding-top: 55px;
  text-align: center; }
  .download__title-wrap {
    padding-bottom: 27px; }
  .download__title {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    color: #1B1549; }
  .download .btn-row {
    padding-bottom: 29px; }
    .download .btn-row:last-child {
      padding-bottom: 21px; }
  .download .agreement-lnk {
    font-size: 12px;
    line-height: 18px;
    color: #6C5CE7;
    font-weight: 500;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .download .agreement-lnk:hover {
      color: #FF7675; }
  @media (min-width: 768px) {
    .download__title {
      font-size: 20px;
      line-height: 29px; } }

.footer {
  background: #1B1549;
  color: #fff; }
  .footer ul {
    padding: 0;
    margin: 0; }
  .footer__i {
    padding-top: 26px;
    padding-bottom: 0; }
  .footer__top {
    border-bottom: 1px solid #CEC8FB; }
    .footer__top .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .footer__top .col {
      -webkit-flex-basis: auto;
      -ms-flex-preferred-size: auto;
      flex-basis: auto; }
      .footer__top .col:first-child {
        width: 100%;
        margin-bottom: 25px; }
      .footer__top .col:nth-child(2) {
        width: 100%;
        padding-left: 15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; }
  .footer__bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; }
    .footer__bottom-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-flow: column-reverse;
      -ms-flex-flow: column-reverse;
      flex-flow: column-reverse;
      width: 100%;
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    .footer__bottom-right {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      width: 100%; }
  .footer__nav {
    margin-bottom: 24px;
    padding-top: 5px; }
    .footer__nav p {
      margin-bottom: 2px;
      font-size: 14px;
      line-height: 28px; }
      .footer__nav p strong {
        font-weight: 700; }
    .footer__nav-item {
      list-style: none;
      margin-bottom: 4px; }
    .footer__nav-lnk {
      color: #fff;
      font-size: 14px; }
      .footer__nav-lnk strong {
        font-weight: 700; }
      .footer__nav-lnk:hover {
        color: #fff;
        text-decoration: underline; }
  @media (min-width: 768px) {
    .footer__bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: left; }
      .footer__bottom-left {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: wrap;
        -ms-flex-flow: wrap;
        flex-flow: wrap;
        width: auto;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1; }
      .footer__bottom-right {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2; } }
  @media (min-width: 992px) {
    .footer__top .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
      flex-flow: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .footer__top .col:first-child {
      width: 260px;
      margin-bottom: 0; }
    .footer__top .col:nth-child(2) {
      padding-left: 50px;
      width: -webkit-calc(100% - 300px);
      width: calc(100% - 300px); }
    .footer__bottom-right {
      width: auto; } }
  @media (min-width: 1025px) {
    .footer__top .col:first-child {
      width: 260px; }
    .footer__top .col:nth-child(2) {
      padding-left: 82px; } }

.footer__logo {
  display: block; }
  .footer__logo .logo-text {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    display: block;
    padding-top: 17px; }

.copy {
  font-size: 12px;
  line-height: 18px;
  color: #B2BEC3;
  font-weight: 500; }

.footer__secondary-nav {
  margin-bottom: 10px; }
  .footer__secondary-nav-list {
    margin-left: -21px;
    margin-right: -21px;
    font-size: 0; }
  .footer__secondary-nav-item {
    padding: 0 21px;
    list-style: none;
    display: inline-block; }
  .footer__secondary-nav-lnk {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    line-height: 18px; }
    .footer__secondary-nav-lnk:hover {
      color: #fff;
      text-decoration: underline; }
  @media (min-width: 768px) {
    .footer__secondary-nav {
      margin-left: 21px;
      margin-bottom: 0; } }

.share {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .share__list {
    font-size: 0;
    margin: 0 -8px !important; }
  .share__item {
    padding: 0 8px;
    list-style: none;
    display: inline-block; }
  .share__lnk {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 30px;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    color: #1B1549;
    font-size: 12px;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease; }
    .share__lnk:hover {
      background: transparent; }
      .share__lnk:hover .icon:before {
        color: #fff; }
  .share .icon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .share .icon-fb {
      font-size: 14px; }
    .share .icon-yt, .share .icon-in {
      margin-left: 1px; }
  @media (min-width: 768px) {
    .share {
      margin-bottom: 0; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .share {
      margin-top: 10px; } }

.modal_default .close {
  right: 17px;
  top: 20px;
  font-size: 16px; }

.modal_default .modal-dialog {
  max-width: 790px;
  width: 96%;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.modal_default .modal-header {
  position: relative;
  border-bottom: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px 20px; }

.modal_default .modal-title {
  text-align: center;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #1B1549; }

.modal_default .modal-body {
  padding: 0 20px; }

.modal_default .modal-footer {
  border: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 0;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }
  .modal_default .modal-footer .btn {
    min-width: 160px;
    margin: 0 5px 21px; }

.modal .close {
  position: absolute;
  right: 15px;
  top: 15px; }

@media (min-width: 768px) {
  .modal_default .modal-dialog {
    width: 100%; }
  .modal_default .modal-header {
    padding: 20px 40px; }
  .modal_default .modal-body {
    padding: 0 40px; }
  .modal_default .modal-footer .btn {
    min-width: 200px;
    margin: 0 21px 21px; } }

.agreement-text {
  border: 1px solid #F3F3F3;
  padding: 20px; }
  .agreement-text__inner {
    max-height: 266px; }
  .agreement-text .mCustomScrollbar {
    margin-right: -20px; }

.search {
  margin-bottom: 40px;
  background: #fe7575;
  background: -webkit-linear-gradient(left, #fe7575 0%, #6f5de5 100%);
  background: -webkit-gradient(linear, left top, right top, from(#fe7575), to(#6f5de5));
  background: -o-linear-gradient(left, #fe7575 0%, #6f5de5 100%);
  background: linear-gradient(to right, #fe7575 0%, #6f5de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe7575', endColorstr='#6f5de5', GradientType=1); }

.search__i {
  padding-top: 35px;
  padding-bottom: 28px; }
  .search__i .form-group {
    position: relative;
    margin: 0; }
  .search__i .search-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border: none;
    background: none;
    z-index: 10;
    cursor: pointer;
    color: #1B1549;
    font-size: 18px; }
  .search__i .selectize-input {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: none;
    background: #fff;
    font-size: 14px;
    line-height: 16px;
    padding: 17px 15px;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .search__i .selectize-control.single .selectize-input:after {
    display: none; }
  .search__i .selectize-dropdown {
    margin-top: 2px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .search__i .selectize-dropdown [data-selectable] .highlight {
    background: none;
    font-weight: 700; }
  .search__i .option {
    color: #1B1549;
    font-size: 14px;
    line-height: 16px;
    margin: 5px 0; }
    .search__i .option.active {
      background: #fff; }

.documentation {
  padding-bottom: 40px; }
  .documentation__title {
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: 15px;
    margin-bottom: 21px;
    color: #1B1549;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600; }
  @media (min-width: 768px) {
    .documentation__title {
      font-size: 26px;
      line-height: 38px; } }

.documentation__i {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-flow: column-reverse;
  -ms-flex-flow: column-reverse;
  flex-flow: column-reverse; }
  .documentation__i .main {
    width: 100%; }
  .documentation__i .aside {
    width: 100%;
    margin-bottom: 35px; }
  @media (min-width: 992px) {
    .documentation__i {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      flex-flow: row; }
      .documentation__i .main {
        width: -webkit-calc(100% - 280px);
        width: calc(100% - 280px);
        padding-right: 10px; }
      .documentation__i .aside {
        width: 260px;
        margin-bottom: 0; } }

.side-nav {
  background: #F3F3F3;
  padding: 20px; }
  .side-nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: section; }
    .side-nav__list-sub {
      padding-left: 29px;
      padding-top: 20px; }
  .side-nav__item {
    position: relative;
    padding-bottom: 16px; }
    .side-nav__item:before {
      counter-increment: section;
      content: counter(section) ". ";
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: #1B1549; }
      .side-nav__list-sub .side-nav__item:before {
        counter-increment: section;
        content: counters(section, "."); }
  .side-nav__lnk {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #1B1549;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
    .side-nav__lnk:hover {
      color: #FF7675; }
  @media (min-width: 1025px) {
    .side-nav__item {
      padding-bottom: 36px; }
      .side-nav__list-sub .side-nav__item {
        padding-bottom: 15px; }
        .side-nav__list-sub .side-nav__item:last-child {
          padding-bottom: 0; }
    .side-nav__list-sub {
      padding-top: 15px; } }

.page-title {
  color: #1B1549;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 13px;
  font-weight: 600; }
  @media (min-width: 768px) {
    .page-title {
      font-size: 26px; } }

.page-sub-title {
  color: #1B1549;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 43px; }
  @media (min-width: 768px) {
    .page-sub-title {
      font-size: 16px; } }

.contact-us {
  padding-top: 41px;
  padding-bottom: 45px; }
  .contact-us .form-control {
    border: 1px solid #B2BEC3;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 500;
    color: #2D3436;
    font-family: "Montserrat", sans-serif; }
  .contact-us .btn {
    width: 250px;
    margin-top: 10px; }

.features__item {
  padding-top: 50px;
  padding-bottom: 50px; }

.features .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.features__img {
  text-align: center;
  width: 50%;
  margin: 0 auto 35px; }

.features img {
  max-width: 100%; }

.features__text {
  width: 100%; }

.features__title {
  color: #1B1549;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 18px; }

.features__description {
  color: #B2BEC3;
  font-size: 12px;
  line-height: 22px;
  font-weight: 500; }

@media (min-width: 768px) {
  .features__item:nth-child(even) .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-flow: row-reverse;
    -ms-flex-flow: row-reverse;
    flex-flow: row-reverse; }
  .features__item:nth-child(even) .features__img {
    text-align: right; }
  .features__img {
    width: 39%;
    text-align: left;
    margin-bottom: 0; }
  .features__text {
    width: 59%; }
  .features__title {
    font-size: 30px;
    line-height: 45px; }
  .features__description {
    font-size: 14px;
    line-height: 24px; } }

.mobile-nav-btn {
  width: 26px;
  height: 40px;
  padding: 0;
  margin-left: 10px;
  display: block;
  position: relative; }
  .mobile-nav-btn:before {
    content: "";
    position: absolute;
    top: 12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    width: 24px;
    background: #FF7675;
    height: 2px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .mobile-nav-btn:after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    width: 24px;
    background: #FF7675;
    height: 2px;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .mobile-nav-btn span {
    background: #FF7675;
    height: 2px;
    width: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    margin-top: -1px;
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .mobile-nav-active .mobile-nav-btn:before {
    -webkit-transform: translateX(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    top: 20px; }
  .mobile-nav-active .mobile-nav-btn:after {
    -webkit-transform: translateX(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    bottom: 18px; }
  .mobile-nav-active .mobile-nav-btn span {
    opacity: 0; }
  @media (min-width: 1025px) {
    .mobile-nav-btn {
      display: none; } }

.mCSB_scrollTools .mCSB_draggerRail {
  background: none !important; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #D8D8D8;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 6px; }
